@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.app {
  font-family: 'Fredoka One';
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;

  margin: 0px 30px;
  padding: 10px;
  border: 2px solid magenta;
  background-color: #f3e5f5;

  .header {
    margin-bottom: 8px;
    font-size: 25px;
    color: #6a1b9a;
    font-family: 'Fredoka One';
  }

  canvas {
    border: 2px solid magenta;
    width: 250px;
    height: 250px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .result {
    animation: blinker 0.5s linear infinite;
    text-transform: uppercase;
    font-size: 50px;
    color: #cf665f;
    line-height: 0.9;
    margin-top: 5px;
    text-align: center;
    background-image: linear-gradient(45deg, #689f38, #ffeb3b);
    padding: 15px;
    border: 2px solid magenta;
  }

  .fire-gif, .hotdog-gif {
    height: 30px;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  @media screen and (min-width: 430px) {
    .app {
      width: 450px;
      margin: 0px auto;

      .header {
        font-size: 30px;
      }
    }

    form {
      margin: 10px;
    }

    canvas {
      height: 300px;
      width: 300px;
    }
  }
}
