@import '~react-md/src/scss/react-md';
@include react-md-everything;
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Fredoka One', serif;
  background-image: url('../images/snoop-dooog.jpg');
}

ul {
  margin: 12px 0;
}
