@import '~react-md/src/scss/react-md';
@include react-md-everything;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  background-image: url('../images/snoop-dooog.jpg');
}

ul {
  margin: 12px 0;
}
